@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;700&family=Josefin+Slab:wght@100;300;400;500;600;700&family=Mulish:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-position: inside;
    color: #fff67e;
}
.container{
    width: 100%;
    text-align: center;
    padding: 5rem 1rem;
    background-color: #000000;
}
.container h1{
    font-family: 'Baloo Da 2';
    font-size: 50px;
}
.container h2{
    font-family: 'Josefin Slab';
    font-size: 40px;
}
.container h3{
    font-family: 'Mulish';
    font-size: 25px;
    margin: 1rem auto;
}
.container img{
    width: 40%;
}
.container figcaption{
    font-family: 'Josefin Slab';
}
.container h4{
    font-family: 'Mulish';
    font-size: 20px;
    margin: 1rem auto;
}
.container ol{
    width: fit-content;
    border: 3px double #42695a;;
    margin: 1rem auto;
    padding: 1rem;
}
.container ol li{
    text-align: left;
    line-height: 2rem;
    font-family: 'Josefin Slab';
    font-size: 20px;
}
.container a{
    font-weight: bold;
}
.container a:hover{
    color: #42695a;
    text-decoration: underline;
}